* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    height: 70px;
    align-items: center;
    padding: 15px 10px;
    background-color: rgba(172, 255, 47, 0.37);
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
}
.logo h1 {
    font-weight: 500;
}
ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 20px;
    padding-top: 10px;
}
ul li {
    transition: all 0.5s ease;
    cursor: pointer;
}
ul li:hover {
    opacity: 50%;
}
.loyiha-h1 {
    text-align: center;
    padding-top: 20px;
}