* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    height: 70px;
    align-items: center;
    padding: 15px 10px;
    background-color: rgba(172, 255, 47, 0.37);
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
}
.logo h1 {
    font-weight: 500;
}
ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 20px;
    padding-top: 10px;
}
ul li {
    transition: all 0.5s ease;
    cursor: pointer;
}
ul li:hover {
    opacity: 50%;
}
.loyiha-h1 {
    text-align: center;
    padding-top: 20px;
}
.to-do-list {
    width: 400px;
    height: 350px;
    background-color: orange;
    border-radius: 10px;
}
.todo-h1 {
    text-align: center;
    padding-top: 20px;
    color: #fff;
}
.todo-input {
    padding: 8px 15px;
    outline: none;
    border: gray;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 20px;
}
.add {
    margin-left: 50px;
    margin-top: 10px;
    padding: 8px 17px;
    border-radius: 8px;
    background-color: orangered;
    color: #fff;
    outline: none;
    border: 1px solid gray;
    cursor: pointer;
}
.column {
    width: 350px;   
    background-color: orangered;
    margin-left: 25px;
    height: 40px;
    padding-top: 10px;
    border-radius: 10px;
    padding-left: 20px;
    color: #fff;
    margin-top: 10px;
}
.fa-trash-can {
    cursor:  pointer;
}
.clicker {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 400px;
    height: 350px;
    background-color: aqua;
    border-radius: 10px;
    padding-left: 60px;
}
p {
    cursor:  pointer;
    padding: 7px 13px;
    border-radius: 5px;
    background-color: aliceblue;
}
.loyiha-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}